<div class="new-rival-box">
  <%= form_tag("/rivals/#{@rival.id}", method: :patch) do %>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label ">編集フォーム</label>
        <textarea class="form-control" placeholder ="text" name="text" rows="10" required><%= @rival.text %></textarea><br>
      </div>
      <input type="submit" class="btn btn-prymary" value="SENT">
    </form>
  <% end %>
</div>